body {
    box-sizing: border-box;
}
* {
    margin: 0;
}
nav {
    background-color: pink;
    width: 30%;
    height: 597px;
}
header {
    background-color: rgb(246, 234, 125) ;
    height: 10%;
}
article {
    background-color: whitesmoke;
    width: 90%;
    height: %;
}
aside {
    background-color: aqua;
    width: 50%;
}
footer {
    background-color: rgb(246, 234, 125);
    height: 10%;
}
.container{
    display: flex;
}
.content{
    width: 80%;
}
.main{
    display: flex;
    height: 80vh;
}

